* {box-sizing:border-box}

@media screen and (min-width:992px)
{
    body {background-image:url("../pict/bg.jpg"); background-repeat:no-repeat; background-size:cover; background-attachment: fixed;}
.name {  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;  font-weight:bolder !important; font-size: 3em !important;
    width:80%;margin-left:auto;margin-right:auto; margin-top:-1%;font-size: 2em;padding:1rem;background-color:rgba(38, 143, 241,0.8);box-shadow: 3px 5px 5px black;  text-align: center; color:blue}
nav {width:80%;margin-left:auto;margin-right:auto; margin-top:-1%;background-color:rgba(38, 143, 241,0.8); padding:1rem; box-shadow: 3px 5px 5px black;}
.main {width:80%;margin-left:auto;margin-right:auto; margin-top:1%;background-color:rgba(38, 143, 241,0.8); padding:1rem;
    display:flex; justify-content: space-between;flex-wrap:wrap}

aside {width:25%; display:block; padding-left: 10px; border-left: 3px solid rgb(250, 250, 250); word-wrap: break-word}
article {width:75%}
h2 {text-align:center;color:white;margin:2px}
.wrapper {display:flex;flex-direction:row;justify-content: space-between; flex-wrap:wrap}
ul{display:flex;flex-direction:row;flex-wrap:wrap;background-color:rgba(21, 51, 246,0.5)}
li {list-style-type:circle; padding:3px; margin:5px; color:white; font-size:1.5em}
nav>ul>li {list-style-type:none}
p {color:white; text-align: justify; padding:5px;font-size: 2em; text-indent: 2em;}
span {font-weight: bold; color: darkblue; text-transform: uppercase;}
p.up {text-transform: uppercase; display:inline}
.card {background-color:rgba(32, 198, 232, 0.8);margin:1%; border:3px solid blue; box-shadow:2px 5px 10px black; padding:3px;}
.newtheme {background-color: rgba(0,0,255,0.5);box-shadow:2px 5px 2px black; padding:2vw}
.sum {background-color:lightseagreen;margin:10px;padding:10px;border:3px solid darkgreen; box-shadow:5px 5px 5px black;}
.tm {width:30%}
a:link {background-color:rgb(239, 229, 22);padding:5px;border:2px solid brown;border-radius:10px; text-decoration:none; }
a:hover {color:blue; text-decoration:underline; background:linear-gradient(yellow,brown); text-shadow:2px 2px 2px rgb(200, 248, 10)}
img {width:100%;padding:3px;}
table {width:100%; border:5px groove black; }
    td{text-align: center; border:1px solid black;}
figcaption {text-align:center;color:white}
#task_nonverb {display:flex; flex-direction:row; justify-content:space-between}
#task_nonverb_left {border-right:3px groove black; }

}
@media screen and (max-width:992px)
{body {background-color:green}
p {color:yellow;  text-align: justify;}
a:hover {text-decoration:underline}
img {width:100%;padding:3px;}
    
}
@media screen and (max-width:768px) {
    body {background-color:rgb(148, 233, 250)}
    aside {display:none}
    .main_10{display:none}
    h1 {text-align:center;color:blue}
    p {color:blue;  text-align: justify;padding-left:10px; padding-right:10px; text-indent: 10%;}
    h1, h2,h3 {color:blue;text-align: center ;}
    a:link {background-color:rgb(239, 229, 22);border:3px groove brown;border-radius:10px; text-decoration:none; display:block;}
    ul:not(nav>ul) {background-color: rgba(21, 51, 246,0.3);}
    li {list-style-type:circle;margin-top:2% ;text-align:center; width:90%;color:blue; }
  nav>ul>li {list-style-type: none;}
    a:hover {text-decoration:underline}
    .card {background-color:rgba(255, 255, 255,0.8);margin:1%; margin-top:10px; border:3px solid blue; border-radius: 15px; box-shadow:2px 5px 10px black; padding:3px;}
    .newtheme {background-color: rgba(0,0,255,0.5);box-shadow:2px 5px 2px black; padding:2vw}
    .sum {background-color:lightseagreen;margin:10px;padding:5px;border:3px solid darkgreen; box-shadow:5px 5px 5px black;border-radius: 25px;}
    img {width:100%;padding:3px;margin-left:auto; margin-right:auto}
    table {width:100%; border:5px groove black; }
    td{text-align: center; border:1px solid black;}
    span {font-weight: bold;}
    hr {background-color:blue;height: 10px;}
    figure{width:90%; box-shadow:3px 3px 5px black;margin-left: auto;margin-right: auto;}
    figcaption {text-align: center; font-weight: bolder;;}
    #task_nonverb {display:block}
    
}
